
<div class="container" ng-app="app" ng-controller='mainController'>
  <h2>Noticias</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" ui-sref="route1" href="#publicar">Publicar</a></li>
    <li><a data-toggle="tab" href="#preview">Vista Previa</a></li>
    <li><a data-toggle="tab" href="#update_delete">Modificar/Eliminar</a></li>
    <li><a data-toggle="tab" href="#otro">Otro</a></li>
  </ul>
  <div class="tab-content">
    <!-- <div app-view-segment="1">
          </div> -->
  </div>
</div>
